.products-listing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 3rem;
  margin-top: 50px;

  img{
    width: 100%;
  }
}

.title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}