@use "../../components/order-details/order-details.module.scss";

.checkout {
  display: flex;
  gap: 50px;
  width: 100%;

  .column-1,
  .column-2 {
    width: 50%;
  }

  .column-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .order-notice{
      margin-top: 30px;
      text-align: center;

      .success-message, .error-message{
        border-radius: 15px;
        background-color: var(--primary-color);
        color:var(--white);
        padding: 10px;
      }

      .error-message{
          background-color: var(--red);
      }
    }
  }

  .checkout-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 10px 15px;
    }

    input[type="submit"][disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
