.footer{
    background-color: var(--secondary-color);
    
    div.footer-content{
        max-width: var(--max-width-desktop);
        margin: 0 auto;
        min-height: 200px;
        padding: 50px 20px;
    }
}