

.single-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;

    .columns{
        display: flex;
        flex-direction:column;
    }
    .column-1{
        width: 60%;

        img{
            width: 100%;
            border-radius: 15px;
        }
    }

    .column-2{
        width: 40%;
        justify-content: left;

        .actions-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .product-title{
                margin:0;
            }

            .edit-btn, .delete-btn{
                color: var(--white);
                border-radius: 15px;
                padding: 5px 10px;
            }

            .edit-btn{
                background-color: var(--primary-color);
                margin-right: 30px;
            }
            .delete-btn{
                background-color: var(--red);
            }
        }

        .product-description{
            margin-top: 0;
        }
    }
}
