@use 'components/header/header.module.scss';
@use 'components/footer/footer.module.scss';
@use 'components/page-layout/page-layout.module.scss';
@use 'components/product-listing-item/product-listing-item.module.scss';
@use 'components/product-listing/products-listing.module.scss';
@use 'components/single-product/single-product-module.scss';

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
}

:root{
  --primary-color:#4c8577;
  --secondary-color: #a6ece0;
  --white: #fff;
  --black: #000;
  --red: #96031A;
  --background-color: #eff1f3;
  --font-family: "Poppins";
}

body {
  font-family: var(--font-family);
  background-color:var(--background-color);
  color: var(--primary-color);
  margin: 0;
  width: 100%;
}



